body {
    /* font-family: Geneva, Verdana, sans-serif; */
    margin: 0;
    padding: 0;
    text-align: center;
}

.t1 {
    letter-spacing: 30px;
    border: 2px groove teal;
    font-size: 100px;
    padding: 0 20px;
    display: inline-block;
}

.l1,
.l2,
.l3 {
    font-size: 15px;
    color: royalblue;
    border: 1px solid black;
    border-radius: 10%;
}