body {
    /* font-family: Geneva, Verdana, sans-serif; */
    margin: 0;
    padding: 0;
    text-align: center;
}

.t1 {
    letter-spacing: 15px;
    border: 2px groove red;
    font-size: 64px;
    padding: 0 20px;
    display: inline-block;
}

.l1,
.l2,
.l3 {
    font-size: 15px;
    color: royalblue;
    border: 2px solid black;
    /* border-radius: 50%; */
}