body {
    font-family: Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.t1 {
    letter-spacing: 30px;
    border: 2px groove teal;
    font-size: 100px;
    padding: 10 0 100;
    display: inline-block;
    line-height: 50%;
    font-style: italic;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.75);
    color: white;
    background-color: teal;
}

.l1,
.l2,
.l3 {
    width: 70%;
    font-size: 15px;
    color: royalblue;
    border: 1px solid olive;
    border-radius: 10%;
    padding: 1px;
    margin: 10px auto;
}
